<manifest xmlns:android="http://schemas.android.com/apk/res/android"
package="com.be.uba.hamradio.quiz"
android:versionCode="9"
android:versionName="0.7" >
<uses-sdk
android:minSdkVersion="9"
android:targetSdkVersion="17" />
<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
<application
android:allowBackup="true"
android:icon="@mipmap/ic_launcher"
android:label="@string/app_name"
android:theme="@style/AppTheme" >
<activity
android:name="com.be.uba.hamradio.quiz.activity.Categories"
android:label="@string/app_name" >
<intent-filter>
<action android:name="android.intent.action.MAIN" />
<category android:name="android.intent.category.LAUNCHER" />
</intent-filter>
</activity>
<activity
android:name="com.be.uba.hamradio.quiz.activity.Quiz"
android:label="@string/app_name"
android:configChanges="orientation|screenSize">
</activity>
<activity
android:name="com.be.uba.hamradio.quiz.activity.About"
android:label="@string/title_activity_about" >
</activity>
<activity
android:name="com.be.uba.hamradio.quiz.activity.Settings"
android:label="@string/title_activity_settings" >
</activity>
<activity
android:name="com.be.uba.hamradio.quiz.activity.Pdflangas"
android:label="@string/paaiskinimai" >
</activity>
</application>
</manifest>
